$spacing-small : 10px;
$spacing-medium: 15px;
$spacing-large: 20px;

$border-test: rebeccapurple 2px solid;

// Colors
$brand-color: #B3DEC1;
$brand-color-darker: #4b8462;

$blue-color: #59AFFF;
$blue-color: #114378;
