<p>
  <mat-toolbar>
    <button mat-icon-button routerLink="/" class="example-icon" aria-label="Example icon-button with menu icon">
      <img src="assets/Logo.png" class="Logo">
    </button>
    <span style="margin-left: 10px">Stat Energie</span>
    <span class="example-spacer"></span>
    <button mat-stroked-button routerLink="/comparatif" >
      Voir les comparatifs
    </button>
    <button mat-stroked-button routerLink="/comparatif" style="margin-left: 10px">
      Contact
    </button>
  </mat-toolbar>
  <router-outlet></router-outlet>
</p>
